<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appsettings>
    <add key=" AKIAIGTMGWHSOZMIUWNA" value="y7ruHdTrXgu77GJEOlcBcZz/cOpx7PJqFXRguxV4"></add>
  </appsettings>
</configuration>